.page_notFound {
    position: relative;
    height: 100vh;
    background-image: url("../../assets/bgg.jpg");
    opacity: 0.38;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .page_notFound_heading {
    background-color: rgba(17, 17, 17, 0.8);
    color: #fff;
    font-size: 30px;
    width: 100%;
    text-align: center;
      
  .text_pageNotFound {
 
    font-size: 18px;

 
   
  }
}
  
 
  